<%- include('../partials/_header.ejs') %>
  <%- include('../partials/_github-corner.ejs') %>
    <%- include('../partials/_navbar.ejs') %>


      <div class="container">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link" id="home-tab" href="/compage" role="tab" aria-controls="home" aria-selected="false">
              <i class="fa fa-id-card"></i> Complaints</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="feedback-tab" href="/feedback/view" role="tab">
              <i class="fas fa-envelope-open-text"></i>
              status</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" id="feedback-tab" data-toggle="tab" href="#" role="tab" aria-controls="feedback">
              <i class="fas fa-envelope-open-text"></i>
              feedback</a>

          </li>
        </ul>



        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="feedback" role="tabpanel" aria-labelledby="feedback-tab">

            <div class="row py-5">
              <div class="col-md-6">
                <p class="text-dark mb-4">Enter Your Name </p>

                <form action="/status/view" method="POST">
                  <div class="form-group">
                    <input type="text" name="name" placeholder="Enter Name" class="form-control" required>
                  </div>
                  <div class="form-group mt-3">
                    <label for="description">Enter your feedback</label>
                    <textarea name="feedback" class="form-control" id="description" rows="5"
                      required><%= typeof (description) != 'undefined' ?description:'' %></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary btn-block mb-2">Submit </button>

                </form>
              </div>


            </div>


          </div>


          <%- include('../partials/_footer.ejs')%>